@model Guid

@{
    ViewData["Title"] = "Details";
}
<h1>Details</h1>

<div>
    <h4>KoiOrder</h4>
    <hr />
    <div>
        <article class="card">
            <header class="card-header">My Orders / Tracking</header>
            <div class="card-body">
                <h6 class="orderId"></h6>
                <article class="card">
                    <div class="card-body row delivery_detail">
                        @* <div class="col">
                            <strong>Estimated Delivery time:</strong>
                            <br>29 Nov 2019
                        </div>
                        <div class="col">
                            <strong>Shipping BY:</strong>
                            <br> BLUEDART, | <i class="fa fa-phone"></i> +1598675986
                        </div>
                        <div class="col">
                            <strong>Status:</strong>
                            <br>Picked by the courier
                        </div>
                        <div class="col">
                            <strong>Tracking #:</strong>
                            <br> BD045903594059
                        </div> *@
                    </div>
                </article>
                <hr>
                <ul class="row list-unstyled list-item-detail">
                    
                </ul>

                <hr>

                <a asp-action="Index" class="btn btn-warning" data-abc="true">
                    <i class="fa fa-chevron-left"></i> Back to orders
                </a>
            </div>
        </article>
    </div>

</div>
@section scripts {

    <script>
        $(document).ready(function () {
            getData();
        })

        function getData() {
            $.ajax({
                url: `https://localhost:7298/api/KoiOrders/${'@Model'}`,
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    alert("Get detail success");

                    console.log(result.data);
                    var html = "";
                    var deliveryDetail = "";
                    deliveryDetail += ` <div class="col">
                                    <strong>Estimated Delivery time:</strong>
                                                    <br>${result.data.deliveries.createdDate}
                                </div>
                                <div class="col">
                                    <strong>Shipping BY:</strong>
                                                    <br> ${result.data.deliveries.name}, | <i class="fa fa-phone"></i> ${result.data.deliveries.phone}
                                </div>
                                <div class="col">
                                    <strong>Status:</strong>
                                    <br>Picked by the courier
                                </div>
                                <div class="col">
                                    <strong>Tracking #:</strong>
                                                    <br> ${result.data.deliveries.code}
                                </div>`
                    $.each(result.data.orderDetails, function (key, item) {
                        html += '<li class="col-md-4 mb-3">';
                        html += '<figure class="itemside d-flex">';
                        html += '<div class="aside me-3">';
                        html += `<img src="${item.koiFish.picture}" class="img-fluid border" style="max-width: 20vw;">`;
                        html += '</div>';
                        html += '<figcaption class="info align-self-center">';
                        html += `<p class="title mb-1">${item.koiFish.category.name}</p>`;
                        html += `<span class="text-muted">$${item.price}</span>`;
                        html += '</figcaption>';
                        html += '</figure>';
                        html += '</li>';
                    })
                    $(".list-item-detail").html(html);
                    $(".delivery_detail").html(deliveryDetail);
                },
                error: function (result) {
                    alert("Get details fail")
                }
            })
        }

    </script>
}
