@{
    ViewData["Title"] = "Index";
}
<h1>Koi Orders</h1>
<p>
    <button onclick="addKoiOrder()">Add New Order</button>
</p>
<p>
        <div class="row mb-3">
            <div class="col-md-4">
                <input type="text" id="searchCustomerName" class="form-control" placeholder="Search by Customer Name">
            </div>
            <div class="col-md-4">
            <input type="number" id="searchTotalPrice" class="form-control" placeholder="Search by Price">
            </div>
            <div class="col-md-4">
                <input type="number" id="searchQuantity" class="form-control" placeholder="Search by Quantity" min="1">
            </div>
        </div>
        <button type="button" class="btn btn-primary" onclick="searchData()">Search</button>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Customer name</th>
            <th scope="col">Invoice Id</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total Price</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody class="tblKoiOrders">
    </tbody>
</table>
<div class="modal" id="koiOrderModal" tabindex="-1" aria-labelledby="koiOrderModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h5 class="modal-title" id="koiOrderModalLabel">Koi Orders</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="customer_id" class="form-label">Customer Id</label>
                        <input type="text" class="form-control" id="customer_id" placeholder="Enter customer name" />
                    </div>
                    <h6>Order Details</h6>
                    <div id="orderDetails">
                        <!-- Order details  -->
                    </div>
                    <button type="button" class="btn btn-secondary mt-2" onclick="addOrderDetail()">Add Order Detail</button>
                </div>
                <div class="modal-footer">
                    <button id="btSave" type="button" class="btn btn-primary" onclick="saveOrder()">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            }
        </div>
    </div>
</div>
<div id="pagination" class="d-flex justify-content-center mt-3"></div>
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            searchData();
        });

       

        function addKoiOrder() {
            $("#koiOrderModalLabel").html("Add New Order");
            $('#koiOrderModal').modal('show');
            $('#orderDetails').empty();
            addOrderDetail();
        }

        let detailCount = 0;

        function addOrderDetail() {
            const detailHtml = `
                                <div class="order-detail mb-3" id="detail-${detailCount}">
                                    <div class="row">
                                        <div class="col">
                                            <label for="koi_fish_id_${detailCount}" class="form-label">Koi Fish Id</label>
                                            <input type="text" class="form-control" id="koi_fish_id_${detailCount}" placeholder="Enter Koi Fish Id" />
                                        </div>
                                        <div class="col">
                                            <label for="price_${detailCount}" class="form-label">Price</label>
                                            <input type="number" class="form-control" id="price_${detailCount}" placeholder="Enter price" min="0" step="0.01" />
                                        </div>
                                        <div class="col-auto d-flex align-items-end">
                                            <button type="button" class="btn btn-danger mb-3" onclick="removeOrderDetail(${detailCount})">Remove</button>
                                        </div>
                                    </div>
                                </div>
                            `;
            $('#orderDetails').append(detailHtml);
            detailCount++;
        }

        function removeOrderDetail(id) {
            $(`#detail-${id}`).remove();
        }

        function saveOrder() {
            const customerId = $('#customer_id').val();
            const orderDetails = [];
            let totalPrice = 0;
            $('.order-detail').each(function () {
                const detailId = $(this).attr('id').split('-')[1];
                totalPrice = totalPrice + Number.parseInt($(`#price_${detailId}`).val());
                orderDetails.push({
                    koiFishId: $(`#koi_fish_id_${detailId}`).val(),
                    price: $(`#price_${detailId}`).val()
                });
            });
            const order = {
                customerId: customerId,
                quantity: detailCount,
                totalPrice: totalPrice,
                orderDetailList: orderDetails
            };

            console.log(order);
            $.ajax({
                url: "https://localhost:7298/api/KoiOrders/create_payment",
                type: "POST",
                processData: false,
                contentType: "application/json",
                data: JSON.stringify(order),
                success: function(result) {
                    if (result.data.resultCode != 0) {
                        alert(result.data.message);
                    } else {
                        alert(result.data.message);
                        console.log(result.data.payUrl);
                        window.location.href = result.data.payUrl;
                    }
                }
            })
            searchData();
        }
        function searchData(page = 1) {
            var customerName = $("#searchCustomerName").val();
            var price = $("#searchTotalPrice").val();
            var quantity = $("#searchQuantity").val();
            var pageSize = 5;
            $.ajax({
                url: `https://localhost:7298/api/KoiOrders/search?customerName=${customerName ? customerName : ""}&price=${price ?? ""}&quantity=${quantity ?? ""}&page=${page}&pageSize=${pageSize}`,
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    console.log(result);
                    var html = "";
                    $.each(result.data.items, function (key, item) {
                        html += '<tr>';
                        html += '<th scope="row">' + (key + 1) + '</th>';
                        html += '<td>' + item.customer.firstname + ' ' + item.customer.lastname + '</td>';
                        html += '<td>' + item.invoiceId + '</td>';
                        html += '<td>' + item.quantity + '</td>';
                        html += '<td>' + item.totalPrice + '</td>';
                        html += '<td>' + '<a href="/KoiOrders/Details/' + item.id + '">Details</a>' + '</td>';
                        html += '</tr>';
                    });
                    $('.tblKoiOrders').html(html);
                    createPagination(result.data.totalPages, page);
                },
                error: function (xhr, error) {
                    alert("Error: " + xhr.statusText);
                }
            });
        }

        function createPagination(totalPages, currentPage) {
            let paginationHtml = '';
            for (let i = 1; i <= totalPages; i++) {
                paginationHtml += `<li class="page-item ${i === currentPage ? 'active' : ''}">
                                    <a class="page-link" href="#" onclick="searchData(${i})">${i}</a>
                                   </li>`;
            }
            $('#pagination').html(`<ul class="pagination">${paginationHtml}</ul>`);
        }
    </script>
}