@model IEnumerable<KoiOrderingSystemInJapan.Data.Models.Delivery>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p><p>
    <div class="row mb-3">
        <div class="col-md-4">
            <input type="text" id="searchName" class="form-control" placeholder="Search by Delivery Name">
        </div>
        <div class="col-md-4">
            <input type="text" id="searchCode" class="form-control" placeholder="Search by Code">
        </div>
        <div class="col-md-4">
            <input type="text" id="searchLocation" class="form-control" placeholder="Search by Location" min="1">
        </div>
    </div>
    <button type="button" class="btn btn-primary" onclick="searchData(1)">Search</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Total Amount</th>
            <th>Payment Received</th>
            <th>Created By</th>
            <th>Created Date</th>
            <th>Updated By</th>
            <th>Updated Date</th>
            <th>Is Deleted</th>
            <th>Delivery Staff</th>
            <th>Koi Order</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="tblDeliveries">
        <!-- AJAX-loaded content will go here -->
    </tbody>
</table>

<div id="pagination" class="d-flex justify-content-center mt-3"></div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function(){
            searchData();
        });

        function searchData(page = 1) {
            var deliveryname = $("#searchName").val();
            var code = $("#searchCode").val();
            var location = $("#searchLocation").val();
            var pagesize = 5;

            $.ajax({
                url: `https://localhost:7298/api/Deliveries/search?deliveryname=${deliveryname ? deliveryname : ""}&code=${code ?? ""}&location=${location ?? ""}&page=${page}&pageSize=${pagesize}`,

                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    console.log(result)
                    var html = "";
                    $.each(result.data.items, function (key, item) {
                        html += '<tr>';
                        html += '<td>' + item.code + '</td>';
                        html += '<td>' + item.name + '</td>';
                        html += '<td>' + item.phone + '</td>';
                        html += '<td>' + item.address + '</td>';
                        html += '<td>' + item.totalAmount + '</td>';
                        html += '<td>' + item.paymentReceived + '</td>';
                        html += '<td>' + item.createdBy + '</td>';
                        html += '<td>' + item.createdDate + '</td>';
                        html += '<td>' + item.updatedBy + '</td>';
                        html += '<td>' + item.updatedDate + '</td>';
                        html += '<td>' + item.isDeleted + '</td>';
                        html += '<td>' + (item.deliveryStaff ? item.deliveryStaff.id : '') + '</td>';
                        html += '<td>' + (item.koiOrder ? item.koiOrder.id : '') + '</td>';
                        html += '<td>' +
                            '<a href="/Deliveries/Details/' + item.id + '">Details</a> ' +
                            '<a href="/Deliveries/Edit/' + item.id + '">Edit</a> ' +
                            '<a href="/Deliveries/Delete/' + item.id + '">Delete</a>' +
                            '</td>'

                        html += '</tr>';
                    });
                    $('.tblDeliveries').html(html);
                    createPagination(result.data.totalPages, page);
                },
                error: function (xhr, error) {
                    alert("Error: " + xhr.statusText);
                }
            });
        }

        function createPagination(totalPages, currentPage) {
            let paginationHtml = '';
            for (let i = 1; i <= totalPages; i++) {
                paginationHtml += `<li class="page-item ${i === currentPage ? 'active' : ''}">
                                                    <a class="page-link" href="#" onclick="searchData(${i})">${i}</a>
                                                   </li>`;
            }
            $('#pagination').html(`<ul class="pagination">${paginationHtml}</ul>`);
        }
    </script>
}