@model IEnumerable<KoiOrderingSystemInJapan.Data.Models.Invoice>

@{
    ViewData["Title"] = "Index";
}

<h1>Invoices</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    <div class="row mb-3">
        <div class="col-md-4">
            <input type="text" id="paymentAmount" class="form-control" placeholder="Search by Payment amount">
        </div>
        <div class="col-md-4">
            <select id="isDeleted" class="form-control">
                <option value="">Search by isDeleted</option>
                <option value="true">True</option>
                <option value="false">False</option>
            </select>
        </div>
        <div class="col-md-4">
            <input type="text" id="note" class="form-control" placeholder="Search by Note" min="1">
        </div>
    </div>
    <button type="button" class="btn btn-primary" onclick="getData()">Search</button>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">
                Payment Amount
            </th>
            <th scope="col">
                Payment Date
            </th>
            <th scope="col">
                CreatedBy
            </th>
            <th scope="col">
                CreatedDate
            </th>
            <th scope="col">
                UpdatedBy
            </th>
            <th scope="col">
                UpdatedDate
            </th>
            <th scope="col">
                IsDeleted
            </th>
            <th scope="col">
                Note
            </th>
            <th scope="col">
                Details
            </th>
            <th scope="col">
                Delete
            </th>
        </tr>
    </thead>
    <tbody class="tblInvoice">
    </tbody>
</table>
<div id="pagination" class="d-flex justify-content-center mt-3"></div>
@section scripts {
    <script>
        $(document).ready(function () {
            getData();
        });
        function getData(page = 1) {
            var paymentAmount = $("#paymentAmount").val();
            var isDeleted = $("#isDeleted").val();
            var note = $("#note").val();
            var pageSize = 5;
            $.ajax({
                url: `https://localhost:7298/api/Invoices?paymentAmount=${paymentAmount ?? ""}&isDeleted=${isDeleted ? isDeleted : ""}&note=${note ?? ""}&page=${page}&pageSize=${pageSize}`,
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    console.log(result);
                    var html = "";
                    $.each(result.data.items, function (key, item) {
                        html += '<tr>';
                        html += '<td>' + item.paymentAmount + '</td>';
                        html += '<td>' + item.paymentDate + '</td>';
                        html += '<td>' + item.createdBy + '</td>';
                        html += '<td>' + item.createdDate + '</td>';
                        html += '<td>' + item.updatedBy + '</td>';
                        html += '<td>' + item.updatedDate + '</td>';
                        html += '<td>' + item.isDeleted + '</td>';
                        html += '<td>' + item.note + '</td>';
                        html += '<td>' + '<a href="/Invoices/Details/' + item.id + '">Details</a>' + '</td>';
                        html += '<td>' + '<a href="/Invoices/Delete/' + item.id + '">Delete</a>' + '</td>';
                        html += '</tr>';
                    });
                    $(".tblInvoice").html(html);
                    createPagination(result.data.totalPages, page);
                }
            })
        }

        function createPagination(totalPages, currentPage) {
            let paginationHtml = '';
            for (let i = 1; i <= totalPages; i++) {
                paginationHtml += `<li class="page-item ${i === currentPage ? 'active' : ''}">
                                            <a class="page-link" href="#" onclick="getData(${i})">${i}</a>
                                           </li>`;
            }
            $('#pagination').html(`<ul class="pagination">${paginationHtml}</ul>`);
        }
    </script>
}
