@model Guid

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DeliveryDetail</h4>
    <hr />
    <div class="tblDeliveryDetail"></div>
</div>
<div>
    <a asp-action="Delete" asp-route-id="@Model">Delete</a> |
    <a asp-action="Index">Back to List</a>
</div>


@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            getData();
        })
        function getData() {
            $.ajax({
                url: 'https://localhost:7298/api/DeliveryDetails/{@Model}',
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    console.log(result);
                    var html = '';
                    html += '<dl class="row" >'
                    html += '<dt class = "col-sm-2">Id</dt>'
                    html += '<dd class = "col-sm-10">' + result.data.id + '</dd>'
                    html += '<dt class = "col-sm-2">Delivery Id</dt>'
                    html += '<dd class = "col-sm-10">' + result.data.deliveryId + '</dd>'
                    html += '<dt class = "col-sm-2">Name</dt>'
                    html += '<dd class = "col-sm-10">' + result.data.name + '</dd>'
                    html += '<dt class = "col-sm-2">Description</dt>'
                    html += '<dd class = "col-sm-10">' + result.data.description + '</dd>'
                    html += '<dt class = "col-sm-2">Created By</dt>'
                    html += '<dd class = "col-sm-10">' + result.data.createdBy + '</dd>'
                    html += '<dt class = "col-sm-2">Created Date</dt>'
                    html += '<dd class = "col-sm-10">' + result.data.createdDate + '</dd>'
                    html += '<dt class = "col-sm-2">Updated By</dt>'
                    html += '<dd class = "col-sm-10">' + result.data.updatedBy + '</dd>'
                    html += '<dt class = "col-sm-2">Updated Date</dt>'
                    html += '<dd class = "col-sm-10">' + result.data.updatedDate + '</dd>'
                    html += '<dt class = "col-sm-2">Is Deleted</dt>'
                    html += '<dd class = "col-sm-10">' + result.data.isDeleted + '</dd>'
                    html += '<dt class = "col-sm-2">Note</dt>'
                    html += '<dd class = "col-sm-10">' + result.data.note + '</dd>'
                    $('.tblDeliveryDetail').html(html);
                },
                error: function (xhr, status, error) {
                    console.error("Error fetching delivery details:", error);
                    $('.tblDeliveryDetail').html('<p class="text-danger">Đã xảy ra lỗi khi tải dữ liệu.</p>');
                }
            })
        }
    </script>
}