@model IEnumerable<KoiOrderingSystemInJapan.Data.Models.DeliveryDetail>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<p>
    <div class="row mb-3">
        <div class="col-md-4">
            <input type="text" id="searchCustomerName" class="form-control" placeholder="Search by Customer Name">
        </div>
        <div class="col-md-4">
            <input type="text" id="searchDescription" class="form-control" placeholder="Search by Description " min="1">
        </div>
        <div class="col-md-4">
            <select id="isdeleted" class="form-control">
                <option value="false">False</option>
                <option value="true">True</option>
            </select>
        </div>



    </div>
    <button type="button" class="btn btn-primary" onclick="searchData(1)">Search</button>
</p>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Number
            </th>
            <th>
               Id
            </th>
            <th>
             DeliveryId
            </th>
            <th>
             Name
            </th>
            <th>
             Description
            </th>
            <th>
             CreatedBy
            </th>
            <th>
               CreatedDate
            </th>
            <th>
               UpdatedBy
            </th>
            <th>
                UpdatedDate
            </th>
            <th>
                IsDeleted
            </th>
            <th>
                Note
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="tblDeliveryDetail">
    </tbody>
</table>


<div id="pagination" class="d-flex justify-content-center mt-3"></div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            searchData();
        });

        function getData() {
            $.ajax({
                url: "https://localhost:7298/api/DeliveryDetails",
                type: "Get",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    var html = "";
                    $.each(result.data, function (key, item) {

                        console.log(item);
                        html += '<tr>';
                        html += '<th scope="row">' + key + '</th>'
                        html += '<td scope="row">' + item.id + '</td>'
                        html += '<td scope="row">' + item.deliveryId + '</td>'
                        html += '<td scope="row">' + item.name + '</td>'
                        html += '<td scope="row">' + item.description + '</td>'
                        html += '<td scope="row">' + item.createdBy + '</td>'
                        html += '<td scope="row">' + item.createdDate + '</td>'
                        html += '<td scope="row">' + item.updatedBy + '</td>'
                        html += '<td scope="row">' + item.updatedDate + '</td>'
                        html += '<td scope="row">' + item.isDeleted + '</td>'
                        html += '<td scope="row">' + item.note + '</td>'
                        html += '<td scope="row">' + '<a href="/DeliveryDetails/Details/' + item.id + '">Details</a>' + '  '
                                                   + '<a href="/DeliveryDetails/Edit/' + item.id + '">Edit</a>' + '  '
                                                   + '<a href="/DeliveryDetails/Delete/' + item.id + '">Delete</a>' + '</td>'
                    })
                    $('.tblDeliveryDetail').html(html);
                },
                error: function (xhr, error) {
                    alert(xhr.statusText);
                }
            })
        }


        function searchData(page =1) {
            var pageSize = 5;
            var deliveryname = $("#searchCustomerName").val();
            var isdeleted = $("#isdeleted").val() === "true";
            var description = $("#searchDescription").val();

            $.ajax({
                url: `https://localhost:7298/api/DeliveryDetails/search?deliveryname=${deliveryname ? deliveryname : ""}&isdeleted=${isdeleted}&description=${description ?? ""}&page=${page}&pageSize=${pageSize}`,
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    console.log(result)
                    var html = "";
                    $.each(result.data.items, function (key, item) {
                        console.log(item);
                        html += '<tr>';
                        html += '<th scope="row">' + key + '</th>'
                        html += '<td scope="row">' + item.id + '</td>'
                        html += '<td scope="row">' + item.deliveryId + '</td>'
                        html += '<td scope="row">' + item.name + '</td>'
                        html += '<td scope="row">' + item.description + '</td>'
                        html += '<td scope="row">' + item.createdBy + '</td>'
                        html += '<td scope="row">' + item.createdDate + '</td>'
                        html += '<td scope="row">' + item.updatedBy + '</td>'
                        html += '<td scope="row">' + item.updatedDate + '</td>'
                        html += '<td scope="row">' + item.isDeleted + '</td>'
                        html += '<td scope="row">' + item.note + '</td>'
                        html += '<td scope="row">' + '<a href="/DeliveryDetails/Details/' + item.id + '">Details</a>' + '  '
                            + '<a href="/DeliveryDetails/Edit/' + item.id + '">Edit</a>' + '  '
                            + '<a href="/DeliveryDetails/Delete/' + item.id + '">Delete</a>' + '</td>'
                    });
                    $('.tblDeliveryDetail').html(html);
                    createPagination(result.data.totalPages, page);
                },
                error: function (xhr, error) {
                    alert("Error: " + xhr.statusText);
                }
            });
        }


        function createPagination(totalPages, currentPage) {
            let paginationHtml = '';
            for (let i = 1; i <= totalPages; i++) {
                paginationHtml += `<li class="page-item ${i === currentPage ? 'active' : ''}">
                                            <a class="page-link" href="#" onclick="searchData(${i})">${i}</a>
                                           </li>`;
            }
            $('#pagination').html(`<ul class="pagination">${paginationHtml}</ul>`);
        }
    </script>
}